<div class="row">
  <div class="col-md-6">
<h4>Appointment id: {{appointment.appointmentId}}</h4>
<h5>Medic id: {{appointment.medicId}}</h5>
<h5>Pacient id:{{appointment.pacientId}}</h5>
<h4>Date: {{appointment.date}}</h4>
  </div>
  <div class="col-md-6">
    <hr>
    <button class="btn-primary" (click)="onClickEdit(appointment.appointmentId)">Edit Appointment</button>
    <hr>
    <button class="btn-primary" (click)="onClickDelete(appointment.appointmentId)">Delete Appointment</button>
    <hr>
  </div>
</div>

