<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        routerLinkActive="active"
        class="list-group-item"
        *ngFor="let appointment of appointments"
        (click)="onClickAppointment(appointment.appointmentId)">
        id: {{ appointment.appointmentId}}
        <hr>
        date: {{appointment.date}}

      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <hr>
    <button class="btn-btn-primary" (click)="onCreateAppointment()">Create new Appointment</button>
    <hr>
    Click on an appointment to see its details!
  </div>
</div>
